{% extends 'base.html' %}

{% block title %}About me{% endblock %}

{% block content %}
<div class="card shadow-sm border-0 mt-4">
    <div class="card-body">
        <h1 class="card-title mb-4">About Me</h1>

        <p class="lead">
            ¡Bienvenido a mi página creada con <strong>Django</strong>!<br>
            Soy <strong>Martín Verniere</strong>, nacido en Bahía Blanca, Argentina, y tengo 26 años.
            Me interesa mucho la tecnología y la computacion, y por eso decidí inscribirme en el curso de Python en Coderhouse:
            para seguir aprendiendo, perfeccionar mis habilidades y crear proyectos cada vez más complejos.
        </p>

        <hr>

        <h5>Intereses</h5>
        <ul>
            <li>Computacion</li>
            <li>Futbol</li>
        </ul>
    </div>
</div>
{% endblock %}