{% extends 'base.html' %}

{% block title %}
    Eliminar Vehiculo
{% endblock %}

{% block content %}
<div class="container min-vh-100 d-flex align-items-center justify-content-center">
  <div class="row w-100">
    <div class="col-md-6 col-lg-5 mx-auto">
      <div class="card shadow">
        <div class="card-body text-center">
          <h5 class="card-title mb-4 text-danger">
            <i class="fas fa-exclamation-triangle"></i> Confirmar Eliminación
          </h5>
          <p class="fs-5 mb-4">
            ¿Estás seguro de que deseas eliminar a<br>
            <strong>{{ vehicle.marca }} - {{ vehicle.modelo }}</strong>?
          </p>
          <form method="POST" class="mb-3">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-block">
              <i class="fas fa-trash-alt"></i> Eliminar
            </button>
          </form>
          <a href="{% url 'vehicle_list' %}" class="btn btn-outline-primary btn-block">
            <i class="fas fa-arrow-left"></i> Volver
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}